<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBestSites</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h2>MyBestSites</h2>
            <div>
                <button id="btn"><b>Nuevo Link</b></button>
            </div>
        </div>
        <div class="card">
            <div class="list-container">
                <ul id="list">
                    
                </ul>
            </div>
        </div>
    </div>

    <script src="app.js"></script>
</body>
</html>