<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBestSites</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/90d9cb2f2b.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">
        <div class="header">
            <h2>MyBestSites</h2>
            <div class="buttons-cont">
                <button id="btn"><b>Nuevo Link</b></button>
                <button id="btn-del"><b>Eliminar Link</b></button>
            </div>
        </div>
        <div class="card">
            <div class="list-container">
                <div id="list" class="list">
                    
                </div>
            </div>
        </div>
    </div>
    <p class="label-autor">David Elizondo  &mdash;<a href="https://github.com/Davideo12/MyBestSites" class ="link">GitHub</a></p>

    
    <script src="app.js"></script>
</body>
</html>